a, a:hover {
    color: #0b7bdb;;
}

img {
    width: 100%;
}

.h1-custom {
    margin: 90px 0 40px;
    padding: 10px 0;
    color: #2a5eef;
    background: #F5F5F5;
    border: 1px solid #0b7bdb;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-custom {
    background-color: #fff;
    height: 50px;
    box-shadow: 3px 4px 27px rgba(5, 33, 124, .13);
}

.nav-logo {
    transition: all .3s ease-out;
    font-size: 9px;
    line-height: 1.1;
    display: block;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: inset;
    padding: 3px;
    margin: 3px 15px;
    width: 70px;
    color: #0a7bdb;
    border-color: #0a7bdb;
}

.navbar-link {
    opacity: 0.8;
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
    color: #0b7bdb;
}

.navbar-toogle-color {
    background-color: #0b7bdb;
    border: 1px solid #337ab7;
}

.navbar-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

.padding-border-zero {
    padding: 0;
    border: 0;
}

.btn-border {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.white-bar {
    background-color: #ffffff;
}

#about-me, #skills, #portfolio, #experience, #education, #interests, #contact {
    position: relative;
    background-color: #e6e7f3;
}

.mask-black {
    background: rgba(33, 33, 33, 0.5);
}

.intro-banner {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background: url('../img/intro-bg.jpg') no-repeat 35% 50%;
    background-size: cover;
    /*-moz-transition: 0.4s;*/
    /*-o-transition: 0.4s;*/
    /*-webkit-transition: 0.4s;*/
    /*transition: 0.4s;*/
    will-change: transform;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-moz-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*-o-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
    z-index: -2;
}

.intro-main {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.intro-block {
    /*position: relative;*/
    /*display:block;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*text-align:center;*/
    /*-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);*/
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    overflow: hidden;
    padding-top: 20%;
    color: #fff;
}

.intro-block h1 {
    margin-top: 10%;
}

.intro-ava {
    width: 300px;
    height: 300px;
}

.intro-block-line {
    width: 350px;
}

.nav > li > a:focus, .nav > li > a:hover, .btn-default:hover {
    color: #ffffff;
    background-color: #0b7bdb;
    border-color: #ffffff;
    transition: all .3s ease-out;
}

.about-me-text {
    margin-bottom: 90px;
    color: black;
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}

#skills {
    background: url(../img/bg-skills-1.jpg) no-repeat 50% 80%;;
    background-size: cover;
    background-attachment: fixed;
}

.mask-light {
    background-color: rgba(230, 231, 243, 0.7);
}

.skill-main {
    margin: 35px 0 90px;
    padding: 50px;
    background-color: rgba(33, 33, 33, 0.6);
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    font-family: 'OpenSans', sans-serif;
}

.skill__main--img {
    width: 150px;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid #0b7bdb;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 200px;
}

.skill__main__wrap p {
    margin: 20px auto;
    padding: 10px;
    font-size: 17px;
    font-weight: 300;
    border-top: 2px solid #0b7bdb;
    border-bottom: 2px solid #0b7bdb;
}

.skill__main__wrap ul {
    list-style: none;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
}

.portfolio__wrap {
    display: inline-block;
    padding: 40px 0 20px;
}

.portfolio__main {
    overflow: hidden;
    position: relative;
    text-align: left;
    margin-bottom: 3em !important;
}

.portfolio__main h2 {
    font-size: 25px;
    color: #0b7bd5;
    text-transform: uppercase;
    font-weight: 700;
}

.portfolio__main p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'OpenSans', sans-serif;
}

.portfolio__main a {
    padding: 9px 15px;
    margin: 10px 0;
    color: #4c4c4c;
    background: none;
    border: 1px solid #4c4c4c;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    font-family: "HelveticaLTStd-Roman", Arial, sans-serif;
    min-width: 120px;
    text-transform: uppercase;
}

.portfolio__main a:hover, .portfolio__main a:active {
    color: #0b7bd5;
    border: 1px solid #0b7bd5;
    background: none;
    text-decoration: none;
    transition: all .4s ease-out;
}
.m-img-top {
    margin-top: 10px;
}

.joke-banner {
    background-image: url('../img/git-joke.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 520px;
    z-index: 0;
}

.experience-main {
    position: relative;
}

.block-column-1 {
    margin-top: 30px;
}

.block-column-2 {
    margin-top: 100px;
}

.block-experience-left {
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
}

.block-experience-left:after, .block-experience-left:before {
    left: 100%;
    top: 70px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-experience-left:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}

.block-experience-left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.block-experience-right {
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
}

.block-experience-right:after, .block-experience-right:before {
    right: 100%;
    top: 90px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-experience-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}

.block-experience-right:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.block-experience-right:nth-child(2) {
    margin-top: 70px;
}

.experience-date {
    padding-top: 15px;
    color: #0b7bdb;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.experience-company {
    opacity: 0.8;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.experience-position {
    opacity: 0.54;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.experience-description {
    padding: 20px 20px 40px;
    opacity: 0.54;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.experience-separator {
    display: block;
    margin-top: 100px;
    height: 565px;
    position: relative;
}

.experience-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 4px;
    height: 527px;
    opacity: 0.2;
    background-color: #0B7BD5;
}

.experience-dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.8;
    background-color: #0B7BD5;
}

.experience-dot:nth-child(2) {
    top: 90px;
}

.experience-dot:last-child {
    top: 523px;
}

.experience-right:nth-child(2) {
    margin-top: 50px;
}

.education__wrap {
    padding-bottom: 50px;
}

.block-education-left {
    margin-top: 50px;
    padding: 10px 35px 20px;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
    font-family: 'OpenSans', sans-serif;
    line-height: 1.5;
}

.block-education-left:after, .block-education-left:before {
    left: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-education-left:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}

.block-education-left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.education-separator {
    display: block;
    height: 215px;
    position: relative;
}

.education-line {
    position: absolute;
    top: 118px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 4px;
    height: 95px;
    opacity: 0.2;
    background-color: #0B7BD5;
}

.education-dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.8;
    background-color: #0B7BD5;
}

.education-dot:nth-child(2) {
    top: 111px;
}

.education-dot:last-child {
    top: 211px;
}

.block-education-right:after, .block-education-right:before {
    right: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-education-right {
    margin-top: 150px;
    padding: 10px 35px 20px;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
    font-family: 'OpenSans', sans-serif;
    line-height: 1.5;
}

.block-education-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}

.block-education-right:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.education-date {
    position: relative;
    width: 90px;
    padding: 3px;
    margin-top: 10px;
    background: #0b7bd5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

.education-date:after {
    top: 50%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #0b7bd5;
    border-width: 9px;
    margin-left: -45px;
    -webkit-transform: rotate(135deg);
}

.education-level {
    margin: 20px auto;
    line-height: 1.4;
}

.education-institution {
    opacity: 0.54;
}

.interests-main {
    background-color: #fff;
    margin-bottom: 50px;
}

.interests-text {
    padding: 50px 25px 10px;
    opacity: 0.54;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.interests-icons {
    margin: 20px 0 30px;
    display: inline-block;
}

.interests-hobbies {
    width: 80px;
    margin: 5px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 2px;
}

#contact {
    /*background: url('../img/contact-bg.jpg') no-repeat center;*/
}

.contact-me {
    padding: 20px;
}

.contact-bp {
    padding-bottom: 20px;
}
#name input:hover {
    display: none;
}

#feedback-form,
#address-map-main {
    margin: 30px 0;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.4);
    border: 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-horizontal {
    background-color: #fff;
}

.form-horizontal .form-group {
    margin: 0;
}

.form-fieldset {
    padding: 30px;
}

.form-input {
    margin: 10px auto;
}

#name, #mobile, #email, #message {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #0b7bdb;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
}

.btn-send {
    padding: 10px 40px;
    border-radius: 50px;
}

.address-contact {
    opacity: 0.6;
    color: #3d4451;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.address-contact p {
    display: inline-block;
}

.address-contact i {
    padding-left: 15px;
}

.address-right {
    color: #3d4451;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#address-map {
    min-height: 333px;
    width: 100%;
    height: 100%;
}

.btn-cv-main {
    margin-bottom: 30px;
}

.btn-cv-download {
    padding: 6px 15px;
    font-size: 12px;
    font-family: 'OpenSans', sans-serif;
    border-radius: 50px;
}

.footer-main {
    height: 70px;
    width: 100%;
    background-color: #fff;
}

.copyright {
    padding-top: 10px;
}

.copyright i {
    color: #2a5eef;
}

@media (max-width: 1199px) {
    .experience-line {
        height: 572px;
    }

    .experience-dot:last-child {
        top: 570px;
    }

    .education-dot:nth-child(2) {
        top: 118px;
    }
}

@media (max-width: 990px) {
    .experience-line {
        height: 700px;
    }

    .experience-dot:last-child {
        top: 690px;
    }

    .education-line {
        top: 125px;
        height: 100px;
    }

    .education-dot:nth-child(2) {
        top: 125px;
    }

    .education-dot:last-child {
        top: 218px;
    }
}

@media (max-width: 767px) {
    .intro-block-line {
        width: 270px;
        margin: 10px auto;
    }

    ul.intro-social-buttons > li {
        display: inline-block;
        padding: 0 5px;
    }

    .skill-main {
        padding: 30px;
    }

    .experience-separator {
        display: none;
    }

    .block-column-2 {
        margin-top: 70px;
    }

    .block-experience-right:before,
    .block-experience-right:after,
    .block-experience-left:after,
    .block-experience-left:before,
    .block-education-right:before,
    .block-education-right:after,
    .block-education-left:after,
    .block-education-left:before {
        display: none;
        visibility: hidden;
    }

    .education-separator {
        display: none;
    }

    .block-education-right {
        margin-top: 70px
    }
}

@media (max-width: 620px) {
    fieldset > h2 {
        font-size: 25px;
    }

    .address-contact .address-contact-hidden {
        display: none;
    }

    .col-xs-9 {
        padding: 0;
    }
}

@media (max-width: 465px) {
    .intro-block h1 {
        font-size: 30px;
    }

    .intro-block h3 {
        font-size: 20px;
    }

    .network-name {
        display: none;
    }

    .btn-lg {
        padding: 5px 10px;
    }
}