a, a:hover {
    color: #0b7bdb;;
}

.navbar-custom {
    background-color: #fff;
    height: 50px;
    box-shadow: 3px 4px 27px rgba(5,33,124,.13);
}

.navbar-link {
    opacity: 0.8;
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
    color: #0b7bdb;
}

.navbar-toogle-color {
    background-color: #0b7bdb;
    border: 1px solid #337ab7;
}

.navbar-right {
    float: right;
}

.white-bar {
    background-color: #ffffff;
}

#about-me, #skills, #portfolio, #experience, #education, #interests, #contact {
    position: relative;
    background-color: #e6e7f3;
}

.black-mask {
    background: rgba(0,0,0, 0.4);
}

.intro-banner {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url('img/intro-bg.jpg') no-repeat 35%;
    background-size: cover;
    /*-moz-transition: 0.4s;*/
    /*-o-transition: 0.4s;*/
    /*-webkit-transition: 0.4s;*/
    /*transition: 0.4s;*/
    will-change: transform;
    -webkit-transform: transform3d(0, 0, 0);
    -moz-transform: transform3d(0, 0, 0);
    -ms-transform: transform3d(0, 0, 0);
    -o-transform: transform3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: -1;
}
.intro-main {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.intro-block {
    /*position: relative;*/
    /*display:block;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*text-align:center;*/
    /*-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);*/
    /*text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);*/
    /*overflow: hidden;*/
    padding-top: 20%;
    color: #fff;
}

.intro-block h1 {
    margin-top: 10%;
}

.intro-ava {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
}

.intro-block-line {
    width: 350px;
}

.nav>li>a:focus, .nav>li>a:hover, .btn-default:hover {
    color: #ffffff;
    background-color: #0b7bdb;
    border-color: #ffffff;
}


.about-me-text {
    color: black;
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}

#skills {
    background: url('img/web-development.png') no-repeat center center;
    background-size: cover;
    color: #f5f5f5;
}
.skill-main {
    margin: 15px 0 45px;
    padding: 50px;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #ccc;
    border-radius: 3px;
}

.skill-name {
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.progress {
    height: 7px;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(11, 123, 219, 0.1) 0%, rgba(11, 123, 219, 0.1) 100%);
}

.progress-bar {
    background-image: none;
    background-color: #0b7bdb;
}


.success-banner {
    background-image: url('img/success.jpg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 520px;
}


.experience-main {
    position: relative;
}
.block-column-1 {
    margin-top: 30px;
}

.block-column-2 {
    margin-top: 100px;
}

.block-experience-left {
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
}
.block-experience-left:after, .block-experience-left:before {
    left: 100%;
    top: 70px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-experience-left:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}
.block-experience-left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.block-experience-right {
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
}
.block-experience-right:after, .block-experience-right:before {
    right: 100%;
    top: 90px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-experience-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}
.block-experience-right:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.block-experience-right:nth-child(2) {
    margin-top: 70px;
}
.experience-date {
    padding-top: 15px;
    color: #0b7bdb;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.experience-company {
    opacity: 0.8;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}
.experience-position{
    opacity: 0.54;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.experience-description {
    padding: 20px 15px 30px;
    opacity: 0.54;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.experience-separator {
    display: block;
    margin-top: 100px;
    height: 565px;
    position: relative;
}
.experience-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 4px;
    height: 527px;
    opacity: 0.2;
    background-color: #0B7BD5;
}
.experience-dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.8;
    background-color: #0B7BD5;
}
.experience-dot:nth-child(2) {
    top: 90px;
}
.experience-dot:last-child {
    top: 527px;
}

.experience-right:nth-child(2) {
    margin-top: 50px;
}

.block-education-left {
    margin-top: 50px;
    padding: 10px 15px 20px;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
    font-family: 'OpenSans', sans-serif;
}
.block-education-left:after, .block-education-left:before {
    left: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-education-left:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}
.block-education-left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.education-separator {
    display: block;
    height: 215px;
    position: relative;
}
.education-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 4px;
    height: 215px;
    opacity: 0.2;
    background-color: #0B7BD5;
}
.education-dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.8;
    background-color: #0B7BD5;
}
.education-dot:nth-child(2) {
    top: 104px;
}
.education-dot:last-child {
    top: 211px;
}

.block-education-right:after, .block-education-right:before {
    right: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-education-right {
    margin-top: 150px;
    padding: 10px 15px 20px;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0b7bdb;
    font-family: 'OpenSans', sans-serif;
}
.block-education-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff;
    border-width: 30px;
    margin-top: -30px;
}
.block-education-right:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

.education-date {
    position: relative;
    width: 90px;
    padding: 3px;
    margin-top: 10px;
    background: #0b7bd5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

.education-date:after {
    top: 50%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #0b7bd5;
    border-width: 9px;
    margin-left: -45px;
    -webkit-transform: rotate(135deg);
}

.education-level {
    margin: 20px auto;
}

.education-institution {
    opacity: 0.54;
}


#contact {
    background: url('img/contact-bg.jpg') no-repeat center;
}
.contact-me {
    padding: 20px;
}
.contact-bp {
    padding-bottom: 20px;
}

#feedback-form,
#address-map-main {
    margin: 30px 0;
    box-shadow:  0 0 7px 2px  rgba(0, 0, 0, 0.4);
    border: 1px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.8);
}

.form-horizontal {
    background-color: #fff;
}
.form-horizontal .form-group {
    margin: 0;
}
.form-fieldset {
    padding: 30px;
}
.form-input {
    margin: 10px auto;
}
#name, #mobile, #email, #message {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #0b7bdb;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0);
    color: #000;
}

.btn-send {
    padding: 10px 40px;
}

.address-contact {
    opacity: 0.6;
    color: #3d4451;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.address-contact p {
    display: inline-block;
}
.address-contact i {
    padding-left: 15px;
}

.address-right {
    color: #3d4451;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#address-map {
    min-height: 332px;
    width: 100%;
    height: 100%;
}


.btn-cv-download {
    margin: 20px auto;
}


.footer-main {
    height: 50px;
    width: 100%;
    background-color: #fff;
}
.copyright {
    padding: 20px 0;
}












@media (max-width: 1199px) {
    .experience-line {
        height: 585px;
    }
    .experience-dot:last-child {
        top: 575px;
    }
    .education-dot:nth-child(2) {
        top: 111px;
    }
}

@media (max-width: 990px) {
    .experience-line {
        height: 700px;
    }
    .experience-dot:last-child {
        top: 697px;
    }
    .education-line {
        height: 220px;
    }
    .education-dot:last-child {
        top: 218px;
    }
}

@media (max-width: 767px) {
    .intro-block-line {
        width: 270px;
        margin: 10px auto;
    }
    ul.intro-social-buttons > li {
        display: inline-block;
        padding: 0 5px;
    }
    .skill-main {
        padding: 30px;
    }
    .skill-name {
        font-size: 14px;
    }
    .experience-separator {
        display: none;
    }
    .block-column-2 {
        margin-top: 70px;
    }
    .block-experience-right:before,
    .block-experience-right:after,
    .block-experience-left:after,
    .block-experience-left:before,
    .block-education-right:before,
    .block-education-right:after,
    .block-education-left:after,
    .block-education-left:before{
        display: none;
        visibility: hidden;
    }
    .education-separator {
        display: none;
    }
    .block-education-right {
        margin-top: 70px
    }
}

@media (max-width: 620px) {
    fieldset > h2 {
        font-size: 25px;
    }
    .address-contact .address-contact-hidden {
        display: none;
    }
    .col-xs-9 {
        padding: 0;
    }
}

@media (max-width: 465px) {
    .intro-block h1 {
        font-size: 30px;
    }
    .intro-block h3 {
        font-size: 20px;
    }
    .network-name {
        display: none;
    }
    .btn-lg {
        padding: 5px 10px;
    }
}